*{
	padding:0px;
	margin:0px;
}



#wrapper{
	width:970px;
	padding:5px;
}

#header{
	width:970px;
	background: -webkit-linear-gradient(top, #E9E9E9,#FFFFFF); 
	background:    -moz-linear-gradient(top, #E9E9E9,#FFFFFF); 
	background:     -ms-linear-gradient(top, #E9E9E9,#FFFFFF); 
	background:      -o-linear-gradient(top, #E9E9E9,#FFFFFF); 
	background:         linear-gradient(top, #E9E9E9,#FFFFFF);
}

#logo{
	display:inline-block;
	padding:0px 15px 0px 0px;
}

#call{
	display:inline-block;
	padding:20px 15px 15px 150px;
	vertical-align: top;
}

#nav{
	background: -webkit-linear-gradient(#F0F3F5, #DBE1E6,#F0F3F5); 
	background:    -moz-linear-gradient(#F0F3F5, #DBE1E6,#F0F3F5); 
	background:     -ms-linear-gradient(#F0F3F5, #DBE1E6,#F0F3F5); 
	background:      -o-linear-gradient(#F0F3F5, #DBE1E6,#F0F3F5); 
	background:         linear-gradient(#F0F3F5, #DBE1E6,#F0F3F5);
	border-top-style:solid;
	border-width:1px;
	border-collapse:collapse;
	border-color:#B2B2B2;
}

}
#nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	display:block;
}

#nav ul li{
	display:inline-block;
	border-width:1px;
	border-right-style:groove;
	border-collapse: collapse;
	border-color:white;
	margin:0px;
	padding:0px 15px;
}

#nav ul li a{
	text-decoration: none;
	color: #716E6A;
	font-weight:bold;
	margin:0px;
	display:block;
	position:relative;
}

.fontshrink{
	font-size:75%;
}

